#list_name {
  color: orange;
  font-weight: bold;
}

#list {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
}

h1 {
  font-family:futura;
}

h3 {
  color: #00A676;
  font-weight: bold;
}

h4{
  color: orange;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Lato'; */
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
}