#list_name {
  color: orange;
  font-weight: bold;
}

#list {
  font-family: lato;
}

h1 {
  font-family:futura;
}

h3 {
  color: #00A676;
  font-weight: bold;
}

h4{
  color: orange;
}

p {
  font-family: lato;
}