/* body {
  background-color: coral;
} */
ol{
  color: #363636;
}

#list_name {
  color: orange;
}

h3 {
  color: #00A676;
}

h4{ /* our names*/
  color: orange;
  /*font: ;*/
}

#aboutus {
  color : orange;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}